VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
VITE_FFS_TOKEN_ADDRESS=0xf9D90e9f8E3fcc41D44e220deDB73DF6c42c8244
VITE_FFS_BOTTLE_ADDRESS=0x93E7a174E1DadfE429De8D0E0f281ee1851820E9
VITE_TREASURY_WALLET=0x75d04bcA6B542Fe1f3EeE8196DEB2C2675dAABcb
VITE_FFS_API_URL=https://ffs-indexer.onrender.com
VITE_CHAIN_ID=25
VITE_CRONOSCAN_API_KEY=
